<!DOCTYPE html>
<html>
<head>
    <title>Carrinho</title>
</head>
<body>
    <h1>Adicionar produto por nome</h1>

    <div id="cart-items">
        <!-- Display the cart items here -->
        <ul id="item-list"></ul>
    </div>

    
    <div id="total-price">
        <!-- Display the total price of the items in the cart here -->
    </div>
    
    <button id="checkout-btn">Checkout</button>
    
    <script>
        fetch('http://localhost:8080/carrinho')
            .then(response => response.json())
            .then(data => {
                const itemList = document.getElementById('item-list');
                const totalPriceDiv = document.getElementById('total-price');
                let totalPrice = 0;
    
                data.forEach(item => {
                    const li = document.createElement('li');
                    li.textContent = `${item.name} - R$ ${item.price.toFixed(2)}`;
                    totalPrice += item.price;
                });
    
                totalPriceDiv.textContent = `Total: R$ ${totalPrice.toFixed(2)}`;
            })
            .catch(error => console.error('Error:', error));
    </script>
    
</body>
</html>